[submodule "MobileGlues"]
	path = renderers/MobileGlues
	url = https://github.com/MobileGL-Dev/MobileGlues.git
	shallow = true
[submodule "GLXShim"]
	path = renderers/mesa-libs/libs/kopper_zink/GLXShim
	url = https://github.com/Swung0x48/GLXShim.git
[submodule "mesa-kopper"]
	path = renderers/mesa-libs/mesa
	url = https://gitlab.freedesktop.org/Swung0x48/mesa.git
	shallow = true
[submodule "mesa-drm"]
	path = renderers/mesa-libs/libs/kopper_zink/drm
	url = https://gitlab.freedesktop.org/mesa/libdrm.git
	shallow = true
[submodule "renderers/HolyGL4ES/HolyGL4ES"]
	path = renderers/HolyGL4ES/HolyGL4ES
	url = git@github.com:AngelAuraMC/HolyGL4ES.git
	shallow = true
[submodule "SDL/sdl2-compat"]
	path = SDL/sdl2-compat
	url = https://github.com/libsdl-org/sdl2-compat.git
	shallow = true
[submodule "SDL/SDL3"]
	path = SDL/SDL3
	url = https://github.com/libsdl-org/SDL.git
	shallow = true
[submodule "renderers/krypton_wrapper/krypton_wrapper"]
	path = renderers/krypton_wrapper/krypton_wrapper
	url = https://github.com/BZLZHH/NG-GL4ES.git
[submodule "imgui-java"]
	path = misc/imgui-java/imgui-java
	url = https://github.com/alexytomi/imgui-java.git
