[submodule "MobileGlues"]
	path = renderers/MobileGlues
	url = https://github.com/MobileGL-Dev/MobileGlues.git
	shallow = true
[submodule "GLXShim"]
	path = renderers/mesa-libs/libs/kopper_zink/GLXShim
	url = https://github.com/Swung0x48/GLXShim.git
[submodule "mesa-kopper"]
	path = renderers/mesa-libs/mesa
	url = https://gitlab.freedesktop.org/Swung0x48/mesa.git
	shallow = true
[submodule "mesa-drm"]
	path = renderers/mesa-libs/libs/kopper_zink/drm
	url = https://gitlab.freedesktop.org/mesa/drm
	shallow = true
[submodule "renderers/HolyGL4ES/HolyGL4ES"]
	path = renderers/HolyGL4ES/HolyGL4ES
	url = git@github.com:AngelAuraMC/HolyGL4ES.git
