name: Android CI

on:
  pull_request:
    types: [ opened, reopened, ready_for_review]
  push:
    tags: latest
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: [
          "MobileGlues",
          "kopper-zink",
          "HolyGL4ES",
          "krypton_wrapper",
          "SDL",
          "zstd",
          "imgui-java",
          "arc_dns_injector",
          "lwjgl-build",
          "openal-soft",
          "angle"
        ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: Initialize ANGLE manually # depot-tools is the proper tool to handle the nested submodules so we block git recursively checking those out and just init the repo without submodules.
        run: |
          git submodule update --init --depth 1 --checkout renderers/ANGLE/angle
      - name: Set up JDK 8
        id: jdk8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'
      - name: Export JAVA8_HOME
        run: echo "JAVA8_HOME=${{ steps.jdk8.outputs.path }}" >> $GITHUB_ENV
      - name: Set up JDK 17 # imgui-java uses gradle 7.4.2 which fails on 21+
        id: jdk17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ matrix.module }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-${{ matrix.module }}-
      - name: Build everything
        run: |
          sudo apt install -y python3-mako meson
          ./gradlew :${{ matrix.module }}:assembleRelease --no-daemon
      - name: Setup tmate session if failed
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
      - name: Upload AARs
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.module }}-aars
          path: build/outputs/aar
      - name: Upload JARs
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.module }}-jars
          path: build/libs
