name: Android CI

on:
  pull_request:
    types: [ opened, reopened, ready_for_review]
  push:
    tags: latest
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module:
          - module: "MobileGlues"
            path: "renderers/MobileGlues"
          - module: "kopper-zink"
            path: "renderers/mesa-libs/*"
          - module: "HolyGL4ES"
            path: "renderers/HolyGL4ES"
          - module: "krypton_wrapper"
            path: "renderers/krypton_wrapper"
          - module: "SDL"
            path: "SDL/*"
          - module: "zstd"
            path: "misc/zstd"
          - module: "imgui-java"
            path: "misc/imgui-java"
          - module: "arc_dns_injector"
            path: "misc/arc_dns_injector"
          - module: "lwjgl-build"
            path: "misc/lwjgl-classes/* misc/openal-soft/*"
          - module: "openal-soft"
            path: "misc/openal-soft"
          - module: "angle" # ANGLE needs special treatment with depot-tools
            path: "renderers/ANGLE"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 1
      - name: Checkout only submodule to be built
        run: |
          MODULE_NAME="${{ matrix.module.module }}"
          MODULE_PATH="${{ matrix.module.path }}"
          if [ "$MODULE_NAME" == "angle" ]; then # ANGLE's special treatment. depot-tools is the one that clones submodules properly.
              git submodule update --init --depth 1 --checkout $MODULE_PATH
          else
              git submodule update --init --recursive --depth 1 $MODULE_PATH
          fi
      - name: Set up JDK 8
        id: jdk8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'
      - name: Export JAVA8_HOME
        run: echo "JAVA8_HOME=${{ steps.jdk8.outputs.path }}" >> $GITHUB_ENV
      - name: Set up JDK 17 # imgui-java uses gradle 7.4.2 which fails on 21+
        id: jdk17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ matrix.module.module }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            gradle-${{ runner.os }}-${{ matrix.module.module }}
      - name: Build everything
        run: |
          sudo apt install -y python3-mako meson
          ./gradlew :${{ matrix.module.module }}:assembleRelease --no-daemon
      - name: Setup tmate session if failed
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
      - name: Upload AARs
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.module.module }}-aars
          path: build/outputs/aar
      - name: Upload JARs
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.module.module }}-jars
          path: build/libs
